*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  element.style {
    padding: 100px;
    width: 200%;
}
  header {
    font-family: "poppins", sans-serif;
    position: fixed;
    top: 0;
    left: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4000px 100px;
    align-items: center;
    transition: 0.6s;
    z-index: 9;
  }
  header.sticky {
    padding: 5px 100px;
    background-color: #fff;
  }
  .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;
  }
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    margin-top: 15px;
    position: relative;
    list-style: none;
    text-transform: uppercase;
  }
  header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
  }
  header.sticky .logo,
  header.sticky ul li a {
    color: #000;
  }
  .utility {
    border-radius: 11px;
  }
  .join-us :hover {
    text-decoration: none;
  }
  .jumbotron {
    background-repeat: no-repeat;
    border-radius: 0%;
    text-align: left;
    height: 100vh;
    background-image: url(img/view2.jpg);
    color: white;
  }
  .tagline {
    font-size: 602px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    font-weight: lighter;
    margin-top: 280px;
  }
  .bold {
    color: rgb(255, 255, 255);
    font-weight: 700;
  }
  
  .info-panel {
    height: 90px;
    margin-top: -75px;
    box-shadow: 8px 8px 8px rgba(107, 107, 107, 0.2);
    border-radius: 1px;
    background-color: white;
  }
  .pilih-hotel {
    margin-left: 10px;
    margin-top: 28px;
    font-size: 26px;
  }
  .pilih-paket {
    float: right;
    margin-right: 20px;
    margin-top: 28px;
    font-size: 26px;
  }
  
  .tombol {
    margin-right: 20px;
    float: right;
    width: 175px;
    margin-top: 28px;
  }
  .pantai {
    transition: transform 0.3s; /* Animation */
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 125px;
  }
  .teks-pantai {
    font-weight: 200;
    margin-top: 195px;
    font-size: 56px;
  }
  .teks-pantai .luxury {
    font-weight: 700;
    color: #17a2b8;
  }
  .teks-pantai .deskripsi {
    font-size: 22px;
    white-space: 10px;
    font-weight: 400;
  }
  .pantai:hover {
    transform: scale(1.1);
    box-shadow: 15px 15px 15px #eaeaea;
  }
  .rangkaian {
    margin-top: 170px;
  }
  
  .gambar1 {
    transition: transform 0.3s; /* Animation */
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 70px;
    width: 450px;
    float: right;
  }
  .gambar1:hover {
    transform: scale(1.1);
    box-shadow: 15px 15px 15px #eaeaea;
  }
  .deksripsi {
    margin-top: 15%;
  }
  .deksripsi h2 {
    font-size: 48px;
  }
  .deksripsi p {
    font-size: 20px;
  }
  .pesan-teks{
    font-size: 48px;
    margin: 100px;
  }
  .pesan{
    margin-top: 450px;
  }
  footer {
    margin-top: 120px;
    background-color: rgb(54, 53, 53);
    height: 100%;
  }
  
  footer p {
    text-align: center;
    color: #fff;
  }
  